body {
	padding: 0px;
	margin:0px;

}

h1 {
	position: absolute;
	text-align: left;
	padding-top: 900px;
	padding-left: 100px;
	color:white;

}

.parallax {

  /* The image used */
  background-image: url("plant.jpg");



  /* Set a specific height */
  min-height: 1000px; 


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/* box shadow */
  
   box-shadow: inset 0 0 200px #000000;

	  }

.start {
	height:400px;
	margin:;
	background-color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top:10%;
	text-align: center;
	
}

.examples {
	height: 200px;
	text-align: center;
}


.example1 {
	display: inline-block;
	
}
	



.netflix_button {

	background-image:url("netflixthumbnail.png");
	background-position: center;
	background-size:440px;
	background-repeat: none;
	height: 200px;
	width:300px;
	cursor: pointer;
	}


.photographer {
	background-color: black;
	color:white;

}


.sewsassy {
   background-color: black;
	color:white;

}