body {
	padding: 0px;
	margin:0px;
	width: 100%;

	



}

h1 {
	position: absolute;
	text-align: left;
	padding-top: 850px;
	padding-left: 100px;
	color:white;
	font-size: 50px;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	
	

}

p {
	font-family:"Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size:25px;
	 

}

.projects {

	text-align: center;
	height:auto;
	font-size: 20px;
	font-family:"Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:200px;
	
	
	
}

i {
	text-align: right;
	width:100%;
	margin-left:-20px;
	font-size: 50px;
	color:white;
	margin-top: 900px;
	
	

	

}
 #section1 {
 	padding:10px;
 }

.parallax {

  /* The image used */



  background-image:
  /*linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%), */url("plant.jpg");


  /* Set a specific height */
  min-height: 1000px; 


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

/* box shadow */

-moz-box-shadow: inset 0 -1000px 1000px -1000px #000000;
  -webkit-box-shadow: inset 0 -1000px 1000px -1000px #000000;
  box-shadow: inset 0 -1000px 1000px -1000px #000000;


	  }
	

.body {
	height: auto;
	position: relative;
}

.start {
	height:auto;
	width: auto;
	background-color:white;
	font-family:"Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size:25px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:10%;
	margin-bottom: -100px;
	text-align: center;
	letter-spacing: 1px; 
	line-height: 42px;
	

	



	
}

.examples {
	background-color: white;
	height:auto;
	text-align: center;
	/*margin-top:-300px;
	margin-bottom:500px;*/
	margin:auto;
	margin-bottom: 200px;

	
}


.example1 {
	display: inline-block;
	padding:50px;

	
}

.example2 {
	display: inline-block;
}

.example3 {
	display: inline-block;
	padding:50px;
}

.netflix_button {

	background-image:url("netflixthumbnail.png");
	background-position: center;
	background-size:440px;
	background-repeat: none;
	height: 200px;
	width:300px;
	cursor: pointer;
	border-radius: 10px;
	}

.photographer_button {
	background-image:url("photothumbnail.png");
	background-position: center;
	background-size:440px;
	background-repeat: none;
	height: 200px;
	width:300px;
	cursor: pointer;
	border-radius: 10px;

}

.subscription_button {
	background-image:url("subthumbnail.png");
	background-position: center;
	background-size:440px;
	background-repeat: none;
	height: 200px;
	width:300px;
	cursor: pointer;
	border-radius: 10px;
		}




	/*@media(max-width: 1000px) {
	.body {
		height: 90vh;
	}
		

	@media(max-width: 950px) {
	 .body {
		height: 70vh;
	}*/
		
		

	@media only screen and (max-width: 100px){
			.body {
				height: 70vh;

			}
		}


